{% extends 'base.html' %}
{% block content %}
<!-- Masthead-->
<header class="masthead">
  <div class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
    <div class="d-flex justify-content-center">
      <div class="text-center">
        <h1 class="mx-auto my-0 pt-5 text-uppercase">Ikatan Mahasiswa Akuntansi</h1>
        <!-- <h2 class="text-white-50 mx-auto mt-2 mb-5">Fakultas Ekonomi dan Bisnis<br>Universitas Hasanuddin</h2> -->
        <a class="btn btn-primary mt-3" href="/tentang_ima">Tentang IMA</a>
      </div>
    </div>
  </div>
</header>
<!-- About-->
<section class="about-section text-center" id="about">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-lg-8">
        <h2 class="text-dark mb-4">Visi & Misi IMA FEB-UH Periode 2022</h2>
        <h4 class="text-dark">VISI:</h4>
        <p class="text-dark-50 mb-5">
          “Terwujudnya Profesionalitas Berlembaga Melalui Optimalisasi Pengaderan dan Penguatan Keilmuan Kader”
        </p>
        <h4 class="text-dark">MISI:</h4>
        <p class="text-dark-50 mb-5">1. Menguatkan Iklim Berbudaya Ilmiah <br>2. Meningkatkan Kualitas Sistem Pengaderan Internal <br>3. Mengembangkan Basis Keilmuan Kader</p>
      </div>
    </div>
    <!-- <img class="img-fluid" src="../staticHome/assets/img/29783.jpg" alt="..." /> -->
  </div>
</section>
<!-- Projects-->
<section class="projects-section bg-light" id="projects">
  <div class="container px-4 px-lg-5">
    <!-- Project Sekolah Rakyat-->
    <div class="row gx-0 mb-4 mb-lg-5 align-items-center">
      <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="../staticHome/assets/Sekolah Rakyat/2.jpeg" alt="..." /></div>
      <div class="col-xl-4 col-lg-5">
        <div class="featured-text text-center text-lg-left">
          <h4>Sekolah Rakyat</h4>
          <p class="text-black-50 mb-0">Sebagai bentuk transformasi nilai dari tujuan Kema FEB-UH yakni Kepedulian sosial, Program Mengajar IMA (Sekolah Rakyat)  di rancang oleh Departemen Hubungan Eksternal IMA FEB-UH sebagai bentuk respon IMA terhadap kesenjangan realitas Pendidikan yang terjadi di indonesia saat ini.
          </p>
        </div>
      </div>
    </div>
    <!-- Project Study Club-->
    <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
      <div class="col-lg-6"><img class="img-fluid" src="../staticHome/assets/img/demo-image-01.jpg" alt="..." /></div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">Study Club</h4>
              <p class="mb-0 text-white-50">Study Club merupakan sebuah program kerja yang dirancang dengan tujuan mewadahi pengembangan basic keilmuan dalam perkuliahan maupun persiapan ujian komprehensif.</p>
              <hr class="d-none d-lg-block mb-0 ms-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Project Orasi-->
    <div class="row gx-0 justify-content-center">
      <div class="col-lg-6"><img class="img-fluid" src="../staticHome/assets/img/demo-image-02.jpg" alt="..." /></div>
      <div class="col-lg-6 order-lg-first">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-right">
              <h4 class="text-white">Orasi</h4>
              <p class="mb-0 text-white-50">ORASI merupakan program kerja Departemen Keilmuan yang bertanggung jawab terhadap peningkatan kapasitas keilmuan kader dan bertanggung jawab  terhadap pengawalan, pengkajian serta internalisasi isu Akuntansi
              </p>
              <hr class="d-none d-lg-block mb-0 me-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Project Kelas EKOPOL -->
    <div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
      <div class="col-lg-6"><img class="img-fluid" src="../staticHome/assets/img/demo-image-01.jpg" alt="..." /></div>
      <div class="col-lg-6">
        <div class="bg-black text-center h-100 project">
          <div class="d-flex h-100">
            <div class="project-text w-100 my-auto text-center text-lg-left">
              <h4 class="text-white">Kelas Ekonomi-Politik</h4>
              <p class="mb-0 text-white-50">Kelas Ekonomi-Politik hadir sebagai bentuk penyediaan wadah peningkatan kapasitas keilmuan untuk menjawab permasalahan kurangnya pengetahuan terkait isu, dari hasil observasi yang dilakukan terhadap kondisi internal Kema FEB-UH Departemen Akuntansi.</p>
              <hr class="d-none d-lg-block mb-0 ms-0" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3 class="text-center mt-3"><a href="">lihat proker lainnya >></a></h3>
</section>
<!-- Signup-->

<!-- Contact-->
<section class="contact-section bg-black">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5">
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Address</h4>
            <hr class="my-4 mx-auto" />
            <div class="small text-black-50">Student Centre Lt. 2 FEB <br> Universitas Hasanuddin, Makassar, 90245</div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fas fa-envelope text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Email</h4>
            <hr class="my-4 mx-auto" />
            <div class="small text-black-50"><a href="#!">ima.feuh@gmail.com</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-3 mb-md-0">
        <div class="card py-4 h-100">
          <div class="card-body text-center">
            <i class="fab fa-instagram-square text-primary mb-2"></i>
            <h4 class="text-uppercase m-0">Instagram</h4>
            <hr class="my-4 mx-auto" />
            <div class="small text-black-50"><a href="https://www.instagram.com/imafeb_uh/?hl=en" target="_blank">@imafeb_uh</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="social d-flex justify-content-center">
      <a class="mx-2" href="https://twitter.com/IMA_FEB_UH" target="_blank"><i class="bi bi-twitter"></i></a>
      <a class="mx-2" href="https://www.facebook.com/groups/219831834695243/" target="_blank"><i class="bi bi-facebook"></i></a>
      <!-- <a class="mx-2" href="#!"><i class="fab fa-facebook-f"></i></a> -->
      <a class="mx-2" href="https://www.youtube.com/channel/UCsbNRA-ykh2tp3bjKGN0A6A/featured" target="_blank"><i class="bi bi-youtube"></i></a>
    </div>
  </div>
</section>
{% endblock %}