{% extends 'baseDashboard.html' %}
{% set title='Buku - IMA' %}

{% block _content %}
<div class="container-fluid px-4">
  <h1 class="mt-4">Buku IMA</h1>
  <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Daftar Buku IMA
    </div>
    <div class="card-body">
      <table id="bukuIMA">
        <thead>
          <tr>
            <th>No.</th>
            <th>Kode Buku</th>
            <th>Judul Buku</th>
            <th>Penulis</th>
            <th>Ketersediaan</th>
          </tr>
        </thead>
        <tbody>
          {% for book in books %}
          <tr>
            <td>{{ loop.index }}</td>
            <td>{{ book.kode_buku }}</td>
            <td>{{ book.judul_buku }}</td>
            <td>{{ book.penulis_buku }}</td>
            {% if book.keterangan_buku == 'A' %}
            <td><span class="badge bg-success">Tersedia</span></td>
            {% elif book.keterangan_buku == 'B' %}
            <td><span class="badge bg-warning">Dipinjam</span></td>
            {% elif book.keterangan_buku == 'T' %}
            <td><span class="badge bg-danger">Tidak Tersedia</span></td>
            {% else %}
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <!-- <div class="card mb-4">
    <div class="card-header">
      <i class="fas fa-table me-1"></i>
      Data Peminjam Buku IMA
    </div>
    <div class="card-body">
      <table id="datatablesSimple">
        <thead>
          <tr>
            <th>Nama</th>
            <th>Jurusan</th>
            <th>Organisasi</th>
            <th>Tanggal Peminjaman</th>
            <th>Tanggal Pengembalian</th>
            <th>Salary</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Tiger Nixon</td>
            <td>System Architect</td>
            <td>Edinburgh</td>
            <td>61</td>
            <td>2011/04/25</td>
            <td>$320,800</td>
          </tr>
          <tr>
            <td>Garrett Winters</td>
            <td>Accountant</td>
            <td>Tokyo</td>
            <td>63</td>
            <td>2011/07/25</td>
            <td>$170,750</td>
          </tr>
          <tr>
            <td>Ashton Cox</td>
            <td>Junior Technical Author</td>
            <td>San Francisco</td>
            <td>66</td>
            <td>2009/01/12</td>
            <td>$86,000</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div> -->
</div>
{% endblock %}