{% extends 'baseDashboard.html' %}
{% set title='KEMA - IMA' %}
{% block _content %}
<div class="container mt-3">
  <h1>Ubah Data</h1>
  <form action="{{ url_for('dashboard.ubah_pengurus', uid=data.id) }}" method="POST">
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">Nama Lengkap</span>
      <input type="text" class="form-control" name="name" value="{{ data.name }}">
    </div>
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">NIM</span>
      <input type="text" class="form-control" name="nim" value="{{ data.nim }}">
    </div>
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">Email</span>
      <input type="text" class="form-control" name="email" value="{{ data.email }}">
    </div>
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">Departemen</span>
      <input type="text" class="form-control" name="departemen" value="{{ data.departemen }}">
    </div>
    <div class="input-group input-group-sm mb-3">
      <span class="input-group-text" id="inputGroup-sizing-sm">Level Akses</span>
      <input type="text" class="form-control" name="level_akses" value="{{ data.level_akses }}">
    </div>
    <select class="form-select mb-3" aria-label="Default select example" name="otorisasi">
      <option selected value="">{{ data.otorisasi }}</option>
      <option value="verified">Verified</option>
      <option value="0">Revoke</option>
    </select>
    <div>
      <div class="d-grid"><button type="submit" id="submit" class="btn btn-primary btn-block">Ubah</button></div>
    </div>
  </form>
</div>
{% endblock %}