{% extends 'baseAdmin.html' %}
{% set title='Login - IMA' %}
{% block title %}Login{% endblock %}
{% block _content %}
{% macro input(label='', type='', name='', placeholder='') -%}
  <div class="mb-3">
    <div class="form-floating mb-3 mb-md-0">
      <input class="form-control" id="{{ name }}" name="{{ name }}" type="{{ type }}" placeholder="{{ placeholder }}" required />
      <label for="{{ name }}">{{ label }}</label>
    </div>
  </div>
{%- endmacro %}
<form action="{{ url_for('admin.login') }}" method="POST">
  {{ input(label='NIM', type='text', name='nim', placeholder='NIM') }}
  {{ input(label='Password', type='password', name='password', placeholder='Password') }}
  <div>
    <div class="d-grid"><button type="submit" class="btn btn-primary btn-block">Log in</button></div>
  </div>
  <div class="card-footer text-center py-3">
    <div class="small"><a href="/admin/register">Need an account? Sign up!</a></div>
  </div>
</form>
{% endblock %}